docker_py==1.10.6
gradio==4.37.2
langchain_community==0.2.7
langchain_google_community==1.0.6
langchain_openai==0.1.14
llmware==0.3.0
moviepy==1.0.3
openai==1.35.10
opencv_python==4.10.0.82
opencv_python_headless==4.10.0.82
pydantic==2.8.2
pytube==15.0.0
Requests==2.32.3
setuptools==69.5.1
transformers==4.41.2
